body {
	font-family: 'Fira Sans', sans-serif;
	max-width: 600px;
	background-color: #ECF0F1;
	margin: 0 auto;


}

input {
	margin: 10px;
}

h1{
	color: #E74C3C;
}



.jumbotron {
	margin: 0 auto;
	
}



.demo {
	display: none;
}